@page "/ResetPassword"
@model AspCoreDemo.Api.Pages.ResetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Reset Password</title>
</head>
<body>
    <h2>Reset The Password</h2>

    <form action="/api/auth/resetpassword" method="post">

        <input type="hidden" name="Token" value="@Request.Query["Token"]" placeholder="Enter new password"/>
        <input type="hidden" name="Email" value="@Request.Query["Email"]" placeholder="Enter confirm password" />

        <input type="password" name="NewPassword" value="" />
        <input type="password" name="ConfirmPassword" value="" />
        <input type="submit" name="Submit" value="Reset" />

    </form>
</body>
</html>
